@charset UTF-8;

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor0: black;
    --cor1: white;
    --cor2: rgb(51, 51, 51);
    --cor3: rgba(0, 0, 0, 0.514);

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {

    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    
}

header {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;

}

header a, footer a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: var(--cor1);
    color: var(--cor0);

}

section.imagem {
    background-color: var(--cor2);
    color: var(--cor1);
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: var(--cor3);
    text-shadow: 1px 1px 0px black;
    
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: var(--cor0);
    text-align: center;
    color: var(--cor1);
    padding: 10px;
}